html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #222;
}

ul,
ol {
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
